body{
    background-color: #333;
    color:#fff;
    text-align: center;
    overflow-y :hidden;
}
#myGame{
    width: 400px;
    margin-left: auto;
    display: inline-block;
    margin-right: auto;
}
#hs{
	float: right;
    width: 20%;
    border-left: 3px dashed #eee;
    border-bottom: 3px dashed #eee;
}
#instruction{
    width: 15%;
    float: left;
    border-right: 3px dashed #eee;
    border-bottom: 3px dashed #eee;
}